  
<p class="bio">Bio:
  <%= profile.bio %>
</p>
<p class="nickname">Nickname:
  <%= profile.nickname %>
</p>
<p class="current-city">Current City:
  <%= profile.current_city %>
</p>
<p class="hometown">Hometown:
  <%= profile.hometown %>
</p>
