  
<p class="bio">
  <%= profile.bio %>
</p>
<p class="nickname">
  <%= profile.nickname %>
</p>
<p class="current-city">
  <%= profile.current_city %>
</p>
<p class="hometown">
  <%= profile.hometown %>
</p>
