<div class="container">
  <div class="page-container">
    <h2>Edit Your Profile</h2>
    <%= form_with(model: [@user, @profile], class: 'profile-form') do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= render partial: 'profile_form_fields', locals: { f: f } %>
    <% end %>
  </div>
</div>
