<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Gembook, <%= @user.full_name %></h1>
    <p>
    </p>
    <p>
      To see your profile, click the link => <%= link_to 'profile', @url %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
