<p>New Comment</p>
<p><%= @comment.content %></p>
<%= render partial: 'comments/comment_form',
                     locals: { commentable: @commented_object,
                               id: "#{object_to_s(@comment.commentable)}-#{@comment.commentable.id}-comment"
                                                 } %>