<div class="container">
  <div class="page-container">
    <% if @comment.likers.any? %>
      <%= render partial: 'liker', collection: @comment.likers %>
    <% end %>
    <%= render partial: 'comment', locals: { comment: @comment } %>
  </div>
</div>
