<div>
  <%= render partial: 'comment', locals: { comment: @comment } %>
  <% if @comment.likers.any? %>
    <p>This comment is liked by<p>
    <%= render partial: 'liker', collection: @comment.likers %>
  <% end %>
</div>
