          
<li class="notification <%= notification.object_type.downcase %>">
  <p><%= notification.sender.full_name %></p>
  <p class="notification-description"><%= link_to notification.description, notification.object_url %>.</p>
  <%= render partial: 'dismiss_notification_button', locals: { notification: notification } %>
</li>


