          
<li class="notification <%= notification.object_type %>">
  <span><%= notification.sender.full_name %></span>
  <span><%= link_to notification.description, notification.object_url %>.</span>
</li>

<%= render partial: 'dismiss_notification_button', locals: { notification: notification } %>
