<div class="container">
  <div class="page-container">
    <h1>Notifications for <%= current_user.first_name %></h1>
    <% if @notifications.unread.any? %>
      <%= button_to "Dismiss all", dismiss_all_notifications_path, data: { confirm: 'Dismiss all notifications?'}, class: 'submit' %>
    <% else %>
      <%= content_tag(:em, 'All Caught Up') %>
    <% end %>
    <ul class="notifications-collection">
      <% @notifications.unread.each do |notification| %>
        <%= show_notification(notification) %>
      <% end %>
      <ul>
  </div>
</div>
