<%= turbo_frame_tag "like-button-#{likeable.id}" do %>
  <% if likeable.likers.include?(current_user) %>
      <%= button_to polymorphic_path([likeable, current_user.find_like(likeable)]),
                method: :delete,
                id: "#{object_to_s(likeable)}-#{likeable.id}-unlike",
                data: { action: "click->like-toggle#toggleLike"} do %>
    
    <div class="thumb-filled">
      <ion-icon class="thumb-icon" name="thumbs-up"></ion-icon>
      <span class="like-text">Like</span>
    </div>
  <% end %>
  <% else %> 
    <%= button_to path,
                class: 'liked',
                id: "#{object_to_s(likeable)}-#{likeable.id}-like" do %>
    
        <div class="thumb-outline">
          <ion-icon class="thumb-icon" name="thumbs-up-outline"></ion-icon>
          <span class="like-text">Like</span> 
        </div>
    <% end %>
  <% end %>
<% end %>
