  <li>
    <%= link_to user.full_name, user_path(user) %>
    <% if new_friendship_eligible?(user) %>
      <%= button_to 'Add Friend',
        @friendship,
        params: { receiver_id: user.id },
        class: "add-friend",
        id: "friend-#{user.id}",
        data: { confirm: "Send #{user.first_name} a friend request?"} %>
    <% end %>
  </li>