<div data-controller="show-post" class="container">
  <%= render "show_post_form_button" %>

  <h1 class="users-heading">Recent Posts</h1>
  <ul class="posts-collection">
    <%= turbo_frame_tag "posts-list" do %>
      <%= render partial: 'posts/post', collection: @posts %>
    <% end %>
  </ul>
  <div class="paginate">
    <%= paginate @posts %>
  </div>
</div>