
<div class="post">
  <%= render partial: 'post', locals: { post: @post } %>
  <% if @post.likers.any? %>
    <p>This post is liked by<p>
    <%= render partial: 'liker', collection: @post.likers %>
  <% end %>
</div>