
<div class="post">
  <% if @post.likers.any? %>
    <p>Users who liked this post:<p>
    <%= render partial: 'liker', collection: @post.likers %>
  <% end %>
  <%= render partial: 'post', locals: { post: @post } %>
</div>