/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 :root {
   --light-blue: #E2F5FE;
   --dark-blue: #1B2B34;
   --yellow-orange: #ecb349;
   --red: #A41300;
   --cyan: #65D8F8;
 }

 html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  border: none;
  outline: none;
}

body {
  font-family: 'Ubuntu', sans-serif;
  color: var(--light-blue);
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

/* NAVBAR */

nav {
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.navbar a {
  font-size: 1.2rem;
}

.nav-title {
  text-transform: uppercase;
}

.notifications-link {
  text-transform: capitalize;
}

.gembook-link {
  color: var(--cyan);
}

.notifications-link {
  position: relative;
}

ion-icon {
  pointer-events: none;
}

.notifications-bell {
  position: absolute;
  color: var(--cyan);
  font-size: 92%;
  transform: rotate(10deg);
}

.diamond {
  transform: rotate(-45deg);
  font-size: 200%;
  color: var(--cyan);
}

.diamond-left {
  transform: rotate(-30deg);
  font-size: 75%;
}

.diamond-right {
  transform: rotate(30deg);
  font-size: 75%;
}

a {
  text-decoration: none;
  color: var(--yellow-orange);
  font-weight: 700;
  padding-bottom: 0.5rem;
}

a:hover {
  color: var(--light-blue)
}

.profile-picture {
  border-radius: 50%;
}

.profile-picture-link:hover {
  border-bottom: none;
}

textarea, input {
  background-color: var(--light-blue);
}

.button_to,
.button_to div {
  display: inline;
}

li {
  margin: 12px 0;
}
