// Place all the styles related to the comment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.comments-collection {
  // padding: 8px;
}

.individual-comment {
  padding: 12px;
  border-radius: 1rem;
  box-shadow: 0 0 8px 4px var(--cyan);
}
