// Place all the styles related to the comment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.replies, .post-comments {
  margin-left: 20px;
}

.comment-info {
  display: flex;
  gap: 8px;
}

.comment-likes {
  display: flex;  
  align-items: flex-end;
  gap: 12px;
}