// Place all the styles related to the likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

  .thumb-outline, .thumb-filled {
    font-size: 200%;
    background-color: var(--dark-blue);
    cursor: pointer;
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 12px;
  }

  .thumb-outline {
    color: var(--light-blue);
  }

  .thumb-filled {
    color: var(--cyan);
  }

  .thumb-outline:hover,
  .thumb-filled:hover {
    color: var(--cyan);
    transition: color .3s ease-in-out;
  }

  .like-text {
    font-size: 1rem;
  }

  .like-stats {
    margin-left: 12px;
  }

  .comment-likes, .post-likes {
    display: flex;
    align-items: center;
  }

