// Place all the styles related to the notification controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.individual-notification {
  padding: 12px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  border-radius: 12px;
  border: solid 1.4px var(--yellow);
}

.notification-description {
  font-size: 1.2rem;
}

.dismiss {
  margin-left: auto;
}

.standard-description-link {
  color: var(--cyan)
}

.request-controls {
  display: flex;
  gap: 8px;
  margin-left: auto;
}

.dismiss-notification.button, 
.accept-request.button, 
.decline-request.button {
  padding: 8px 12px
}

.notifications-collection .individual-notification {
  box-shadow: 0 0 6px 4px var(--gray-blue-transparent);
}

.optionals {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px;
  border: solid 1px var(--gray-blue-transparent);
  border-radius: 12px;
}

// MEDIA QUERIES

@media screen and (max-width: 800px) {
  .notification-description {
    font-size: 1rem;
  }
  
}
