// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.profile-display-photo {
  border-radius: 12px;
}

.profile-display-photo:hover {
  box-shadow: 0 0 0 2px var(--light-blue);
  transition: box-shadow .3s ease-in-out;
}

.profile-heading {
  margin: 12px;
  text-decoration: underline;
}

.create-edit-profile {
  margin-left: 12px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  border: solid 2px var(--gray-blue-transparent);
  border-radius: 12px;
  padding: 12px;
  width: 480px;
}

.detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.category {
  color: var(--cyan);
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: 8px;
}

// EDIT PROFILE FORM

.profile-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 200px;
}

.field.profile-item {
  margin: 8px;
}

input#profile_profile_picture {
  width: 200px;
}

.profile-submit {
  width: 25%;
}

@media screen and (max-width: 800px) {

  .profile-details {
    width: 320px;
  }

  .detail {
    display: block;
  }
}