// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.user-search-form {
  display: flex;
}

.search-and-submit {
  display: flex;
  gap: 1rem;
}

.add-friend, .unfriend {
  background: linear-gradient(to right, var(--light-blue), var(--cyan));
  border-radius: 4px;
  cursor: pointer;
  padding: 4px 12px;
  max-width: 106px;
}

.add-friend:hover {
  box-shadow: 0 0 0 2px var(--yellow-orange);
  transition: .2s;
}

.unfriend:hover {
  box-shadow: 0 0 0 2px var(--cyan);
}

.add-friend:focus, .unfriend:focus {
  box-shadow: 0 0 0 2px var(--yellow-orange)
}

.add-friend-icon {
  color: var(--dark-blue);
  font-size: 200%; 
}

.add-friend-text {
  color: var(--dark-blue);
  font-size: 12px;
  font-weight: 700;
}
