<footer class="footer">
  <ul class="footer-links">
    <li>
      <%= link_to 'https://github.com/joe-mccann-dev', class: 'footer-link' do %>
        <span>GitHub</span>
        <div class="footer-icon-container">
          <ion-icon class="github-footer" name="logo-github"></ion-icon>
        </div>
      <% end %>
    </li>
    <li>
      <span>2022 &#169;</span>
      <%= link_to 'https://joe-mccann.dev', class: 'footer-link' do %>
        Joe McCann
      <% end %>
    </li>
  </ul>
</footer>
